
ISBM Temp Gauge/.vs/ISBM Temp Gauge/v16/.suo
ISBM Temp Gauge/.vs/ISBM Temp Gauge/v16/Server/sqlite3/db.lock
ISBM Temp Gauge/.vs/ISBM Temp Gauge/v16/Server/sqlite3/storage.ide
ISBM Temp Gauge/bin/Debug/Newtonsoft.Json.dll
ISBM Temp Gauge/bin/Debug/ws-ISBM Temp Gauge.exe
ISBM Temp Gauge/bin/Debug/ws-ISBM Temp Gauge.exe.config
ISBM Temp Gauge/bin/Debug/ws-ISBM Temp Gauge.pdb
ISBM Temp Gauge/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ISBM Temp Gauge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.csproj.CopyComplete
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.csproj.CoreCompileInputs.cache
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.csproj.FileListAbsolute.txt
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.csproj.GenerateResource.cache
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.csprojAssemblyReference.cache
ISBM Temp Gauge/.vs/ISBM Temp Gauge/v16/Server/sqlite3/storage.ide-shm
ISBM Temp Gauge/.vs/ISBM Temp Gauge/v16/Server/sqlite3/storage.ide-wal
ISBM Temp Gauge/bin/Debug/ISBM Temp Gauge.exe
ISBM Temp Gauge/bin/Debug/ISBM Temp Gauge.exe.config
ISBM Temp Gauge/bin/Debug/ISBM Temp Gauge.pdb
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.exe
ISBM Temp Gauge/obj/Debug/ISBM Temp Gauge.pdb
ISBM Temp Gauge/obj/Debug/ISBM_Temp_Gauge.FormMain.resources
ISBM Temp Gauge/obj/Debug/ISBM_Temp_Gauge.Properties.Resources.resources
ISBM Temp Gauge/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ISBM Temp Gauge/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ISBMTempGauge/.vs/ISBMTempGaugeNET6/FileContentIndex/f623d066-55e3-4bda-b0f3-3119e37386fd.vsidx
ISBMTempGauge/.vs/ISBMTempGaugeNET6/v17/.suo
ISBMTempGauge/bin/Debug/ISBMTempGaugeNET6.exe
ISBMTempGauge/bin/Debug/ISBMTempGaugeNET6.exe.config
ISBMTempGauge/bin/Debug/ISBMTempGaugeNET6.pdb
ISBMTempGauge/bin/Debug/Newtonsoft.Json.dll
ISBMTempGauge/bin/Debug/Newtonsoft.Json.xml
ISBMTempGauge/bin/Debug/RapidRedPanda.ISBM.ClientAdapter.dll
ISBMTempGauge/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ISBMTempGauge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISBMTempGauge/obj/Debug/ISBM_Temp_Gauge.FormMain.resources
ISBMTempGauge/obj/Debug/ISBM_Temp_Gauge.Properties.Resources.resources
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.csproj.AssemblyReference.cache
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.csproj.CopyComplete
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.csproj.CoreCompileInputs.cache
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.csproj.FileListAbsolute.txt
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.csproj.GenerateResource.cache
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.exe
ISBMTempGauge/obj/Debug/ISBMTempGaugeNET6.pdb
ISBMTempGauge/.vs/ISBMTempGaugeNET6/FileContentIndex/940529d2-4a7e-4a2a-b5e3-5a03d1bb597b.vsidx
ISBMTempGauge/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ISBMTempGauge/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
